body{
    background:rgb(150,150,200);
    padding:0;
    margin:0;
}
#bigpic{
    padding:0 auto;
    margin-bottom:0px;
}
#big{
    margin:0 300px;
    width:50%;
    height:400px;
}
#smallpic{
    margin-left:150px;
    margin-top:0;
}
.input{
    width:200px;
    height:100px;
}
